.container {
	max-width: 1190px;
	margin: 0 auto;
	padding: 0 15px;
}
.title {
	color: rgb(53, 53, 53);
	font-family: Montserrat;
	font-size: 32px;
	font-weight: 600;
	line-height: 39px;
	margin-bottom: 30px;
	margin-top: 60px;
}
.row {
	display: flex;
	gap: 30px;
	margin-bottom: 120px;
}
.map {
	width: 100%;
}
