.container {
	max-width: 1190px;
	margin: 0 auto;
	padding: 0 15px;
}
.title {
	color: rgb(53, 53, 53);
	font-family: Montserrat;
	font-size: 32px;
	font-weight: 600;
	line-height: 1.2;
	margin-top: 80px;
	margin-bottom: 35px;
}
.row {
	display: flex;
	gap: 30px;
}
